*{
    font-family: "Figtree", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: #151516;
    height: 100vh;
    width: 100vw;
}
.nav{
    height: 16vh;
    width: 100vw;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    padding: 3vh;
    align-items: center;
}
.logo{
    background-size: cover;
    height: 14vh;
    width: 7vw;
    background-image: url(ChatGPT\ Image\ Nov\ 2\,\ 2025\,\ 12_47_58\ PM.png);
    background-size: cover;
    background-position: center;
    transition: 1s ease-in;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
@media (max-width:600px) {
    .nav{
            padding: 2.90vh;
    }
    .logo{
        width: 40vw;
    }
}
.logo:hover{
    background-image: url(Untitled_design_1_-removebg-preview.png);
    background-position: center;
    background-color: #151516;
    transition: 0.5s ease-in-out;
}
.mid-nav{
    height: 7vh;
    width: 44vw;
    border: 1px solid #A1A1A1;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.menu{
    height: 8vh;
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu i{
    /* display: none; */
    color: white;
    font-weight: 700;
    font-size: 30px;
    display: none;
}
.mid-nav:hover{
    border: 1.9px solid white;
    transition: 0.5s ease-in;
}
@media (max-width:600px) {
    .mid-nav{
        display: none;
    }
    .lmidnav{
        display: none;
    }
    .menu i{
        display: block;
        color: white;
    }
    .menu{
            margin-left: 60vw;
    }
    .menu i:hover{
        color: grey;
    }
    .con-us{
        display: none;
    }
}
.sol{
    width: 6vw;
    height: 6vh;
    display: flex;
    align-items: center;
    margin-left: 2vw;
    color: white;
    font-size: 12px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    position: relative;
}
.ri-menu-line{
    display: inline-block;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}

.arcont{
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 0.2vw;
}
.ri-arrow-up-s-line{
    display: none;
    position: absolute;
    transition-duration: 0.5S;
}
.ri-arrow-down-s-line{
    position: absolute;
    transition-duration: 0.5S;
}

.sol:hover{
    .ri-arrow-down-s-line{
        opacity: 0;
    }
    .ri-arrow-up-s-line{
        display: flex;
    }

}
.con-us{
    height: 7vh;
    margin-left: 24vw;
}
.con-us button{
    padding: 2vh 3vw;
    color: white;
    background-color: #444444;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    display: flex;
}
.con-us button:hover{
    background-color: #383838;
    transition-duration: 0.5s;
}
@media (max-width:1200px) {
    .con-us button{
        padding: 2vh 1.5vw;
    }    
    .ri-arrow-up-s-line{
        display: none;
    }
}
@media (max-width:900px) {
    .con-us button{
        padding: 2vh 1vw;
    }    
}
.lmidnav{
    display: flex;
}
.capabilities{
    width: 6vw;
    height: 6vh;
    display: flex;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
}
.a2cont{
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 0.2vw;
}
.capabilities:hover{
        .ri-arrow-down-s-line{
        opacity: 0;
    }
    .ri-arrow-up-s-line{
        display: flex;
    }
}
.indus{
    width: 6vw;
    height: 6vh;
    display: flex;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    margin-left: 1.5vw;
}
.a3cont{
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 0.2vw;
}
.indus:hover{
        .ri-arrow-down-s-line{
        opacity: 0;
    }
    .ri-arrow-up-s-line{
        display: flex;
    }
}
