*{
    font-family: "Figtree", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: #151516;
    height: 100vh;
    width: 100vw;
}
.nav{
    height: 16vh;
    width: 100vw;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    padding: 3vh;
    align-items: center;
}
.logo{
    background-size: cover;
    height: 14vh;
    width: 7vw;
    background-image: url(ChatGPT\ Image\ Nov\ 2\,\ 2025\,\ 12_47_58\ PM.png);
    background-size: cover;
    background-position: center;
    transition: 1s ease-in;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
@media (max-width:600px) {
    .nav{
            padding: 2.90vh;
    }
    .logo{
        width: 40vw;
    }
}
.logo:hover{
    background-image: url(Untitled_design_1_-removebg-preview.png);
    background-position: center;
    background-color: #151516;
    transition: 0.5s ease-in-out;
}
.mid-nav{
    height: 7vh;
    width: 44vw;
    border: 1px solid #A1A1A1;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.menu{
    height: 8vh;
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu i{
    /* display: none; */
    color: white;
    font-weight: 700;
    font-size: 30px;
    display: none;
}
.mid-nav:hover{
    border: 1.9px solid white;
    transition: 0.5s ease-in;
}
@media (max-width:900px) {

    .mid-nav{
        display: none;
    }
    .lmidnav{
        display: none;
    }
    .menu i{
        display: block;
        color: white;
    }
    .menu{
            margin-left: 60vw;
    }
    .menu i:hover{
        color: grey;
    }
    .con-us{
        display: none;
    }
}
.sol{
    width: 5vw;
    height: 6.2vh;
    display: flex;
    align-items: center;
    margin-left: 2vw;
    margin-right: 1vw;
    color: white;
    font-size: 12px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    position: relative;
}
.sol-drop{
    position: absolute;
    top: 40px;
    
    background-color: #1c1c1c;
    border-radius: 13px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.6);
    min-width: 25vw;
    z-index: 3;
    padding: 2vh 0 0 1vw;
    font-size: 1vw;
    height: 50vh;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    /* transition: 0.1s ease-out; */
}
.sol:hover .sol-drop {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.sol-drop a{
        text-decoration: none;
        color: #bbb6b6;
        display: block;
    }
.ri-menu-line{
    display: inline-block;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}

.arcont{
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 0.2vw;
}
.ri-arrow-up-s-line{
    display: none;
    position: absolute;
    transition-duration: 0.5S;
}
.ri-arrow-down-s-line{
    position: absolute;
    transition-duration: 0.5S;
}

.sol:hover{
    .ri-arrow-down-s-line{
        opacity: 0;
    }
    .ri-arrow-up-s-line{
        display: flex;
    }
    .sol-drop{
        display: grid;
        background-color: #2a2a2a;
        color: white;
    }
}

.sol-drop:hover{
    display: block;
}
.con-us{
    height: 7vh;
    margin-left: 24vw;
}
.con-us button{
    padding: 2vh 3vw;
    color: white;
    background-color: #444444;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    display: flex;
    cursor: pointer;
}
.con-us button:hover{
    background-color: #2b2b2b;
    transition-duration: 0.5s;
}
@media (max-width:1200px) {

    .con-us button{
        padding: 2vh 1.5vw;
    }    
    .ri-arrow-up-s-line{
        display: none;
    }
}
@media (max-width:900px) {
    .con-us button{
        padding: 2vh 1vw;
    }    
}
.lmidnav{
    display: flex;
}
.capabilities{
    width: 6vw;
    height: 6vh;
    display: flex;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
}
.a2cont{
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 0.2vw;
}
.capabilities:hover{
        .ri-arrow-down-s-line{
        opacity: 0;
    }
    .ri-arrow-up-s-line{
        display: flex;
    }
}
.indus{
    width: 6vw;
    height: 6vh;
    display: flex;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    margin-left: 1.5vw;
}
.a3cont{
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 0.2vw;
}
.indus:hover{
        .ri-arrow-down-s-line{
        opacity: 0;
    }
    .ri-arrow-up-s-line{
        display: flex;
    }
}
.sol1:hover{
    color: white;
    
}
.sol1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 40%;        
    height: 1vh;       

    background: linear-gradient(90deg,#2860e1
    );

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
     z-index: -1;
}



.sol1:hover::after {
    transform: scaleX(1);
}
.sol1 {
    position: relative;
    display: inline-block;
    padding-bottom: 4px; /* spacing for underline */
    color: #bbb6b6;
    user-select: none;
    cursor: pointer;
    height: 3vh;
    width: 24vw;
    z-index: 2;
}
.sol2{
    position: relative;
    display: inline-block;
    padding-bottom: 4px; /* spacing for underline */
    color: #bbb6b6;
    user-select: none;
    cursor: pointer;
    height: 3vh;
    z-index: 2;
}
.sol2:hover{
    color: white;
}
.sol2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 43%;        
    height: 1vh;       

    background: linear-gradient(90deg,#2860e1
    );

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
     z-index: -1;
}
.sol2:hover::after {
    transform: scaleX(1);
}
.sol3{
        position: relative;
    display: inline-block;
    padding-bottom: 4px; /* spacing for underline */
    color: #bbb6b6;
    user-select: none;
    cursor: pointer;
    height: 3vh;
    z-index: 2;
}
.sol3:hover{
    color: white;
}
.sol3::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 47%;        
    height: 1vh;       

    background: linear-gradient(90deg,#2860e1
    );

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
     z-index: -1;
}
.sol3:hover::after{
    transform: scaleX(1);
}
.sol4{
    position: relative;
    display: inline-block;
    padding-bottom: 4px; /* spacing for underline */
    color: #bbb6b6;
    user-select: none;
    cursor: pointer;
    height: 3vh;
    z-index: 2;
}
.sol4:hover{
    color: white;
}
.sol4::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 42%;        
    height: 1vh;       

    background: linear-gradient(90deg,#2860e1
    );

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    z-index: -1;
}
.sol4:hover::after{
    transform: scaleX(1);
}
.sol5{
    position: relative;
    display: inline-block;
    padding-bottom: 4px; /* spacing for underline */
    color: #bbb6b6;
    user-select: none;
    cursor: pointer;
    height: 3vh;
    z-index: 2;
}
.sol5:hover{
    color: white;
}
.sol5::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 73%;        
    height: 1vh;       

    background: linear-gradient(90deg,#2860e1
    );

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    z-index: -1;
}
.sol5:hover::after{
    transform: scaleX(1);
}
.sol6{
    position: relative;
    display: inline-block;
    padding-bottom: 4px; /* spacing for underline */
    color: #bbb6b6;
    user-select: none;
    cursor: pointer;
    height: 3vh;
    z-index: 2;
}
.sol6:hover{
    color: white;
}
.sol6::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 73%;        
    height: 1vh;       

    background: linear-gradient(90deg,#2860e1
    );

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    z-index: -1;
}
.sol6:hover::after{
    transform: scaleX(1);
}
.sol7{
    position: relative;
    display: inline-block;
    padding-bottom: 4px; /* spacing for underline */
    color: #bbb6b6;
    user-select: none;
    cursor: pointer;
    height: 3vh;
    z-index: 2;
}
.sol7:hover{
    color: white;
}
.sol7::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 62%;        
    height: 1vh;       

    background: linear-gradient(90deg,#2860e1
    );

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    z-index: -1;
}
.sol7:hover::after{
    transform: scaleX(1);
}
.sol8{
    position: relative;
    display: inline-block;
    padding-bottom: 4px; /* spacing for underline */
    color: #bbb6b6;
    user-select: none;
    cursor: pointer;
    height: 3vh;
    z-index: 2;
}
.sol8:hover{
    color: white;
}
.sol8::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 45%;        
    height: 1vh;       

    background: linear-gradient(90deg,#2860e1
    );

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    z-index: -1;
}
.sol8:hover::after{
    transform: scaleX(1);
}
.sol9{
    position: relative;
    display: inline-block;
    padding-bottom: 4px; /* spacing for underline */
    color: #bbb6b6;
    user-select: none;
    cursor: pointer;
    height: 3vh;
    z-index: 2;
}
.sol9:hover{
    color: white;
}
.sol9::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 40%;        
    height: 1vh;       

    background: linear-gradient(90deg,#2860e1
    );

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    z-index: -1;
}
.sol9:hover::after{
    transform: scaleX(1);
}